:root{
    --blur:#ffffff45;
    --cream-white: #f9eedc;
    --dark: #272525;
    --black-white-gradient: linear-gradient(45deg,#353434,#eeeeee99);
    --orangy-white: #fec89248;
    --shadow-to-bottom: 0rem 0.7rem 0.5rem #9c9a9ada;
    --overlay: 1;
}
body{
    margin: 0;
    overflow-x: hidden;
    font:400 15pt/1.5 Arial, Helvetica, sans-serif;
}
header {
    box-shadow: var(--shadow-to-bottom);
    background-color: var(--blur);
    position: sticky;
    width: 105%;
    left: -2%;
    top: 1px;
    height: 5vw;
    display: inline-flex;
    justify-content: flex-start;
    z-index: 1;
}
header .logo {
    width: 2rem;
    height: 100%;
    margin: auto 5%;
}
nav, nav li {
    display: inline-block;
    list-style: none;
    height: 100%;
}
.menu.top {
    text-decoration: none;
    color:#585858;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1.1rem;
    font-size: 1rem;
    font-weight: 600;
    /* height: 100%; */
}
.menu.top.active{
    color: white;
    background-color: var(--blur);
    box-shadow: 2px 0px 5px #393838;
    align-self: stretch;
}
.blur { 
    background-color: var(--blur);
}
.hero {
    background-image: url("./images/house.jpg");
    background-size: cover;
    height: 75vw;
    width: 100vw;
    position:relative;
    top: -6vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.hero-message{
    font-size: 4.5rem;
    font-weight: 750;
    color: #fff;
}
.options {
    font-size: 1rem;
    color:#f9eedc;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border: 0.25px solid #ffffffc1;
    border-radius: 10px;
    margin: 5vw auto;
    overflow-y: clip;
}
.option {
    display:inline-flex;
    margin:0vw 2vw;
    margin-right: 0;
    padding:10px;
    font-weight: 500;
    border-radius: 10px; 
}
.option.selected{
    background-color: #fab129;
    align-self: stretch;
}
.calendar {
    color:#fab129;
    margin: 0 10px;
}
.drop-down {
    color: white;
    margin:0 10px;
}
.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn {
    padding: 0.7rem;
    border: 1px solid white;
    border-radius: 5px;
    margin: auto 3rem;
    color:white;
    font-weight: 650;
}
.about {
    margin:10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about-description {
    margin-right: 5%;
}
.about-intro {
    text-transform: capitalize;
    color: #fab129;
}
.about-commercial{
    font:700 3rem Arial, Helvetica, sans-serif;
    margin: 2rem 0.5rem;
    text-transform: capitalize;
}
.welcome {
    font-weight: 550;
    text-transform: capitalize;
    color:#fab129;
}
.about-p {
    font-size: 1.1rem;
    font-weight:500;
}
.about-img {
    background-color: var(--orangy-white);
    padding: 0vw 2.5vw 1vw 2.5vw;
    margin-top: 2vw;
    border-radius: 10px;
}
.about-img img {
    border-radius: 10px;
    position: relative;
    top: -2vw;
}
.facilities {
    background-color: #e5e5e57d;
    padding: 10vw 10vw;
}
.facilities{
    text-align: center;
}
.expansion-pointer {
    cursor: pointer;
    position: relative;
    right: -30vw;
    margin: 2rem;
}
.facility-cards {
    display: flex;
    justify-content:space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.facility-card {
    display:flex;
    flex-direction: column;
    max-width: 16vw;
    background-color: #fff;
    padding: 2vw 10px;
    border-radius: 10px;
    align-items: center;
}
.icons {
    border-radius: 15px;
    padding: 5%;
    background-color: #000;
    max-width:min-content;
    color:#fff;
    font-size: 2rem;
}
.card-title {
    font-weight: 600;
}
.card-description {
    font-size:0.8rem;
    text-align: center;
    font-weight: 400;
    margin: 0;
}